<main id="main" class="main">
    <div class="pagetitle">
       <h1>General Tables</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
             <li class="breadcrumb-item active">Manage Author</li>
          </ol>
       </nav>
       <div class="d-flex justify-content-end">
         <button class="btn btn-primary" ><a class="btn-add" routerLink="/manage-author/modify-author">Add Author</a> </button>
       </div>
    </div>
    <app-list-author></app-list-author>
 </main>