<main id="main" class="main">
    <div class="pagetitle">
      <h1>Shop</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/manage-book">Manage Book</a>
          </li>
          <li class="breadcrumb-item active">Add Book</li>
        </ol>
      </nav>
    </div>
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body row">
              <h5 class="card-title">Manage Book</h5>
              <div class="col-lg-8">
                <form [formGroup]="formAddBook" class="mt-4" *ngIf="formAddBook" (ngSubmit)="addBook()">
                  <div class="form-group mb-4">
                    <input [innerMsg]="msgForm" type="text"
                      [formControlName]="controlNames.nameBook"
                      class="form-control"
                      placeholder="Name Book"
                      #imgBook
                      autofocus
                      required
                    />
                  </div>
                  <div class="form-group mb-4">
                    <input
                      [innerMsg]="msgForm" (change)="getLinkImg($event)"
                      type="text"
                      [formControlName]="controlNames.imgBook"
                      placeholder="Link Image Book"
                      class="form-control"
                      required
                    />
                  </div>
                  <div class="form-group mb-4 row">
                    <div class="form-group col-lg-6">
                      <input
                        [innerMsg]="msgForm"
                        type="text"
                        [formControlName]="controlNames.author"
                        placeholder="Author"
                        class="form-control"
                        required
                      />
                    </div>
                    <div class="form-group col-lg-6">
                      <input
                        [innerMsg]="msgForm"
                        type="text"
                        [formControlName]="controlNames.categoryBook"
                        placeholder="Category"
                        class="form-control"
                        required
                      />
                    </div>
                  </div>
                  <div class="form-group mb-4 row">
                    <div class="form-group col-lg-6">
                      <input
                        [innerMsg]="msgForm"
                        type="text"
                        [formControlName]="controlNames.priceBook"
                        placeholder="Price"
                        class="form-control"
                        required
                      />
                    </div>
                    <div class="form-group col-lg-6">
                      <input
                        [innerMsg]="msgForm"
                        type="text"
                        [formControlName]="controlNames.quantity"
                        placeholder="Amount"
                        class="form-control"
                        required
                      />
                    </div>
                  </div>
                  <div class="form-group mb-4 row">
                    <div class="form-group col-lg-6">
                      <input
                        [innerMsg]="msgForm"
                        type="text"
                        [formControlName]="controlNames.sale"
                        placeholder="Sale"
                        class="form-control"
                        required
                      />
                    </div>
                    <div  class="form-group col-lg-6">
                      <input
                        [innerMsg]="msgForm"
                        type="text"
                        [formControlName]="controlNames.detailBook"
                        placeholder="Detail Book"
                        class="form-control"
                        required
                      />
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <input
                      [innerMsg]="msgForm"
                      type="file"
                      [formControlName]="controlNames.tryRead"
                      placeholder="Try Read File"
                      class="form-control"
                      id="password"
                      required
                    />
                  </div>
  
                  <div class="">
                    <button type="submit" class="btn btn-gray-800">Add Book</button>
                    <button  class="btn btn-gray-800">Cancel</button>
                  </div>
                </form>
              </div>
              <div class="col-lg-4">
                <img class="img-book" src={{getLinkImgBook}} alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  