<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> 
         <a class="nav-link " routerLink="/dashboard"> 
            <i class="bi bi-grid"></i> 
            <span>Dashboard</span> 
         </a>
      </li>
       <li class="nav-item">
          <a routerLink="/manage-book" class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse"> 
            <i class="bi bi-menu-button-wide"></i>
            <span>Manage Book</span>
          </a>
       </li>
       <li class="nav-item">
          <a routerLink="/manage-author" class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" > 
            <i class="bi bi-journal-text"></i>
            <span>Manage Author</span>
          </a>
          
       </li>
       <li class="nav-item">
          <a routerLink="/manage-category" class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" > 
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Manage Category</span>
         </a>
       </li>
    </ul>
 </aside>