<main id="main" class="main">
    <div class="pagetitle">
       <h1>Shop</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
             <li class="breadcrumb-item active">Manage Category</li>
          </ol>
       </nav>
       <div class="d-flex justify-content-end">
         <button class="btn btn-primary" ><a class="btn-add" routerLink="/manage-category/modify-category">Add Category</a> </button>
       </div>
    </div>
    <!-- <router-outlet></router-outlet> -->
      <app-list-category></app-list-category>
 </main>